body {
    margin: 0px;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
}
a {
	color: blue;
}
a.unspecial {
    color: black;
    text-decoration: none;
}
h1, h2 {
	font-family: serif;
}
h1 {
	display: inline;
}
h2 {
    padding: 0.5em 0em 0.5em 0em;
}
#la-all {
    width: 100%;
}
#la-header {
    background-color: #DFEFFF;
    height: 45px;
    width: 100%;
}
#la-h1 {
    position: absolute;
    left: 0px;
}
#la-h2 {
    position: absolute;
    width: 100%;
    text-align: center;
}
#la-h3 {
    position: absolute;
    right: 0px;
}
#la-logogroup {
    padding: 0em 1em 0em 1em;
    
}
#la-applist {
    padding: 0em 1em 0em 1em;
}
#la-userbox {
    padding: 0em 1em 0em 1em;
}
#la-content {
    padding: 1em;
}
#la-column-1, #la-column-2, #la-column-3 {
    display: table-cell;
    padding: 1em;
    min-width: 10%;
}
#la-footer {
    background-color: #DFEFFF;
    padding: 0em 1em 0em 1em;
}
h3 {
	margin-top: 0.5em;
	margin-bottom: 0px;
}
img {
	border: none;
}
h2.indent {
    padding-left: 1em;
}

/* Sticky Footer by Ryan Fait
   http://ryanfait.com/ */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1.5em; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 1.5em; /* .push must be the same height as .footer */
}
ul.col {
	padding-left: 1em;
}

