#la-column-1 {
    padding-left: 1em;
    width: 30%;
/*    position: absolute;
    top: 50px;*/
}
#la-column-2 {
    width: 30%;
    position: absolute;
    top: 50px;
    left: 33%;
}
#la-column-3 {
    padding-right: 1em;
    left: 66%;
    position: absolute;
    top: 50px;
    width: 30%;
}
